<mat-card class="form-container">
   <form class="reverser-form">
      <mat-form-field class="text-field">
         <input matInput placeholder="Type some text" name="text" [(ngModel)]="text">
      </mat-form-field>
      <button mat-raised-button (click)="onSubmit($event)" color="primary">Submit</button>
   </form>
   <div *ngIf="error.show">{{error.message}}</div>
   <div *ngIf="result" class="result-container">
      <mat-divider></mat-divider>
      <p class="result">{{result}}</p>
   </div>
</mat-card>
