.form-container {
   .reverser-form {
      width: 100%;
      display: inline-block;

      .text-field {
         width: 60%;
         padding-right: 2.5em;
      }
   }

   .result-container {
      margin-top: 1em;
      text-align: center;

      .result {
         padding-top: 0.5em;
         font-size: 300%;

         margin: 0;
      }
   }
}
